html,body{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	font-size: 18px;
}
button{
	border: none;
	padding: 0;
	margin: 0;
}
p{
	padding: 0;
	margin: 0;
}
.container{
	width: 100%;
}
.container .topBox{
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-bottom: 1px solid #ebebeb;
	font-weight: bold;
	font-size: 20px;
}
.errMain{
	text-align: center;
	padding-top: 30px;
}
.errMain>p{
	font-weight: bold;
	margin: 10px 0;
}
.errMain>div{
	color: #a4a4a4;
}
.btns{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.btns .btnsBigMore{
	width: 100%;
	height: 100px;
	line-height: 70px;
	background: #fd9153;
	color: #fff;
	border: none;
	float: left;
	font-size: 28px;
	font-weight: bold;
}