html,body{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	font-size: 18px;
	color: #515151;
}
button{
	border: none;
	padding: 0;
	margin: 0;
}
p{
	padding: 0;
	margin: 0;
}
.container{
	width: 100%;
}
.container .topBox{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ebebeb;
	height: 60px;
	line-height: 60px;
	font-weight: bold;
	font-size: 20px;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 19;
}
.container .topBox>img{
	float: left;
	width: 11px;
	height: 18px;
	margin-top: 20px;
	margin-left: 15px;
}
.tabBtn{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 61px;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 19;
}
.tabBtn>div{
	width: 33%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #a4a4a4;
	border-bottom: 2px solid #ebebeb;
}
.tabBtn .active{
	color: #fd985e;
	border-bottom: 2px solid #fd9153;
}
.tabCon{
	position: relative;
	top: 120px;
	left: 0;
	width: 100%;
}
.tabCon .tabItem{
	padding: 10px 20px;
	border-bottom: 1px solid #ebebeb;
}
.tabCon .tabItem .tabItemOne>img{
	vertical-align:  baseline;
	margin-right: 6px;
	width: 15px;
	height: 15px;
}
.tabCon .tabItem  .orderState{
	padding: 3px;
	background: #a4a4a4;
	color: #fff;
	border-radius: 2px;
}
.tabCon .tabItem  .orderStateDone{
	padding: 3px;
	color: #a4a4a4;
	border: 1px solid #a4a4a4;
	border-radius: 2px;
}
.tabCon .tabItem .tabItemOne>span:nth-child(3){
	margin-left: 20px;
	margin-right: 20px;
}
.tabCon .tabItem  .tabItemTwo{
	margin: 10px 0;
}
.tabCon .tabItem  .tabItemTwo span{
	vertical-align: middle;
}
.tabCon .tabItem  .tabItemTwo .mustG{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #3cbca3;
	border-radius: 100%;
	vertical-align: middle;
	margin-right: 10px;
}
.mustR{
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #fd9153;
	border-radius: 100%;
	vertical-align: middle;
	margin-right: 10px;
}
